// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$body-font-family: 'Graduate', cursive !default;
$body-font-color: $black-100;
$body-font-size: 14px;
$body-letter-spacing: 1px;
$body-base-unit: 14px;

// spacing
$base-padding: 7px !default;
$icon-size: 24px !default;
$desktop-gutter: 24px !default;
$desktop-gutter-more: 32px !default;
$desktop-gutter-less: 16px !default;
$desktop-gutter-mini: 8px !default;
$desktop-keyline-increment: 64px !default;
$desktop-drop-down-menu-item-height: 32px !default;
$desktop-drop-down-menu-font-size: 15px !default;
$desktop-left-nav-menu-item-height: 48px !default;
$desktop-subheader-height: 48px !default;
$desktop-toolbar-height: 56px !default;

// media queries
$device-x-large: 'only screen and (min-width: 1200px)' !default;
$device-large: 'only screen and (min-width: 992px)' !default;
$device-medium: 'only screen and (min-width: 768px)' !default;
$device-small: 'only screen and (min-width: 375px)' !default;
